.heading{
    width:100%;
    text-align: left;
}
.heading button{
    float:right;
    border:1px solid white;
}
.heading h3{
    display:inline;
}
.big_image{
    width:100%;
}
h4{
    background-color: aliceblue;
    color: black;
    margin:0px;
    line-height: 2;
}
.modal-dialog{
    width:90%;
}
.instruction_image{
    width:45%;
    display:inline-block;
}